/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: inherit, content-box;
}

ul {
  appearance: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

}

button,
input[type="submit"] {

}
